%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@function pxToRem($px, $base:$font-base-size) {
    @if $rem == true {
        @return #{($px + 0px) / $font-base-size}rem;
    }
    @else {
        @return $px;
    }
}