%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%stretch-behind {
    @extend %clearfix;

    position: relative;
    margin: 0 auto;

    @if $page-max-width != null {
        max-width: $page-max-width;
    }

    z-index: 2;
    box-sizing: border-box;

    &:before {
        content: '';
        width: 500%;
        height: 100%;
        position: absolute;
        left: -225%;
        right: 0;
        top: 0;
        margin: 0 auto;
        z-index: -1;
        background: inherit;
    }
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@function pxToRem($px, $base:$font-base-size) {
    @if $rem == true {
        @return #{($px + 0px) / $font-base-size}rem;
    }
    @else {
        @return $px;
    }
}