$positive-color: darkgreen !default;
$negative-color: darkred !default;
$informative-color: #2D6672 !default;
$operative-color: #8F7310 !default;
$transitive-color: #6F5177 !default;
$external-color: #6b5e6e !default;

$error-color: red !default;
$success-color: green !default;
$warning-color: #8F7310 !default;
$debug-color: #7B8034 !default;

$disabled-color: #777 !default;
$base-text-color: #444 !default;

/* PAGE */
$page-min-width: 457px !default;
$page-max-width: 1080px !default;

/* FONTS */
$font-base-size: 16px !default;
$font-min-size: 10px !default;
$font-base-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-line-height: 1.225em !default;
$font-scale: false !default;
$font-scale-threshold: 3000px !default;
$font-scale-crossover: $page-max-width !default;
$font-scale-region: 300px !default;
$font-base-weight: normal !default;
$font-antialias: true !default;

/* ICONS */
$icon-font-family: Icomoon !default;
$icon-shadow: false !default;


/* GRID */
$grid: false !default;
$grid-columns: 12 !default;
$grid-gutter: 20px !default;
$grid-padding-ratio: 1.5 !default;
$grid-column-prefix: col !default;
$grid-container-prefix: container !default;
$grid-container-width: 1080px !default;

/* FORM */
$form-label-width: 16em !default;
$form-label-align: right !default;
$form-input-width: 30em !default;