html {
    @if $font-fallback-size != false {
        font-size: $font-fallback-size;
    } @else {
        font-size: $font-base-size;
    }

    font-weight: $font-base-weight;
    font-family: $font-base-family;
    color: $base-text-color;

    @if $font-antialias == true {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@mixin applyRelativeFontSizing($maxWidth:$font-scale-threshold) {
    $divisions: ($font-base-size / 1px) - ($font-min-size / 1px);
    $divisionWidth: (($maxWidth - 600px) / $divisions);

    @for $i from 1 through $divisions {
        @media only screen and (max-width: #{$maxWidth - ($i * $divisionWidth)}) {
            html {
                font-size: #{$font-base-size - $i};
            }
        }
    }
}

@if $font-scale == true {
    @include applyRelativeFontSizing();
}

iframe[seamless] {
    border: none;
}

.readable {
    max-width: 40em;

    img {
        max-width: 100%;
    }
}

.positive { color: $positive-color; }
.negative { color: $negative-color; }
.transitive { color: $transitive-color; }
.informative { color: $informative-color; }
.operative { color: $operative-color; }

* {
    line-height: 1.225em;
}

a {
    display: inline-block;
    padding: 0;

    &.color-block {
        padding-left: 0.4em;
        padding-right: 0.4em;
        color: #FFF !important;
        background: #F1AB3A;
    }

    @if $link-states == true {
        &.positive {
            &:link, &:visited {
                color: $positive-color;
            }
            &:hover, &:active {
                color: lighten($positive-color, 10%);
            }
        }

        &.negative {
            &:link, &:visited {
                color: $negative-color;
            }
            &:hover, &:active {
                color: lighten($negative-color, 10%);
            }
        }

        &.informative {
            &:link, &:visited {
                color: $informative-color;
            }
            &:hover, &:active {
                color: lighten($informative-color, 10%);
            }
        }

        &.operative {
            &:link, &:visited {
                color: $operative-color;
            }
            &:hover, &:active {
                color: lighten($operative-color, 10%);
            }
        }

        &.transitive {
            &:link, &:visited {
                color: $transitive-color;
            }
            &:hover, &:active {
                color: lighten($transitive-color, 10%);
            }
        }

        &.external {
            &:link, &:visited {
                color: $external-color;
            }
            &:hover, &:active {
                color: lighten($external-color, 10%);
            }
        }

        &.na {
            &:link, &:visited {
                color: $disabled-color;
            }
            &:hover, &:active {
                color: lighten($disabled-color, 10%);
            }
        }

        &.error {
            &:link, &:visited {
                color: $error-color;
            }
            &:hover, &:active {
                color: lighten($error-color, 10%);
            }
        }

        &.success {
            &:link, &:visited {
                color: $success-color;
            }
            &:hover, &:active {
                color: lighten($success-color, 10%);
            }
        }

        &.info {
            &:link, &:visited {
                color: $informative-color;
            }
            &:hover, &:active {
                color: lighten($informative-color, 10%);
            }
        }

        &.warning {
            &:link, &:visited {
                color: $warning-color;
            }
            &:hover, &:active {
                color: lighten($warning-color, 10%);
            }
        }

        &.debug {
            &:link, &:visited {
                color: $debug-color;
            }
            &:hover, &:active {
                color: lighten($debug-color, 10%);
            }
        }

        &.locked {
            &:link, &:visited {
                color: $warning-color;
            }
            &:hover, &:active {
                color: lighten($warning-color, 10%);
            }
        }

        &.unlocked {
            &:link, &:visited {
                color: $success-color;
            }
            &:hover, &:active {
                color: lighten($success-color, 10%);
            }
        }
    }
}


.priority-trivial { color: green !important; }
.priority-low { color: #8DAD00 !important; }
.priority-medium { color: #8F7310 !important; }
.priority-high { color: #BE3900 !important; }
.priority-critical { color: red !important; }


.disabled {
    color: $disabled-color;
    opacity: 0.7;
    -webkit-filter: grayscale(100%);
    filter: gray;
}

a.disabled {
    cursor: not-allowed;

    &:link, &:active, &:hover, &:visited {
        color: #777;
        opacity: 0.7;
    }

    &:active {
        pointer-events: none;
    }
}

.na {
    color: $disabled-color;
    opacity: 0.7;
}

.error {
    color: $error-color;
}

.success {
    color: $success-color;
}

.info {
    color: $informative-color;
}

.warning {
    color: $warning-color;
}

.debug {
    color: $debug-color;
}

.active {
    font-weight: bold;
}

.inactive {
    opacity: 0.4;
}

.hidden {
    display: none;
}

.locked {
    color: $warning-color;
}

.unlocked {
    color: $success-color;
}


span.numeric {
    font-family: monospace;

    .value {
    }

    .unit {
        opacity: 0.5;
        padding-left: 0.4em;
    }
}