@if $icon-font-family != false {
    @font-face {
        font-family: $icon-font-family;
        src: url('../fonts/' + $icon-font-family + '.eot');
        src: url('../fonts/' + $icon-font-family + '.eot?#iefix') format('embedded-opentype'),
            url('../fonts/' + $icon-font-family + '.svg#' + $icon-font-family) format('svg'),
            url('../fonts/' + $icon-font-family + '.woff') format('woff'),
            url('../fonts/' + $icon-font-family + '.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    span[data-icon] {
        margin: 0.2em;
        text-decoration: none !important;

        &:before {
            font-family: $icon-font-family;
            content: attr(data-icon);
            speak: none;
            color: inherit;
            text-shadow: 0.02em 0.02em 0.02em #FFF, 0.15em 0.15em 0.2em rgba(0, 0, 0, 0.15);
            font-size: 0.9em;
            padding-right: 0.8em;
        }

        &:empty:before {
            padding-right: 0.4em;
        }
    }

    a span[data-icon] {
        line-height: 1;
        display: inline-block;
        text-decoration: none !important;
    }

    a:hover span[data-icon]:before {
        text-shadow: 0.02em 0.02em 0.02em #FFF, 0.15em 0.15em 0.2em rgba(0, 0, 0, 0.1);
    }
}