body > *:not(#modal-container) {
    transition: 250ms filter;
    -webkit-transition: 250ms -webkit-filter;
    -moz-transition: 250ms -moz-filter;
}

$modal-overlay-filter: blur(5px) !default;

body.modal-open {
    overflow: hidden;

    > *:not(#modal-container) {
        filter: $modal-overlay-filter;
    }
}

#modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;

    #modal-wrapper {
        //max-height: 100vh;
        max-height: 100%;
        width: 100%;
        max-width: 2000px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

#modal-content {
    position: relative;
    width: 60%;
    min-width: 600px;
    min-height: 400px;
    margin: 2em auto;
    background: #FFF;
    z-index: 999;
    box-sizing: border-box;

    &.video {
        width: 90%;
        min-height: 0 !important;
        height: 0 !important;
        padding: 0 0 56.25% 0 !important;
        background: none;

        > iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (max-width: 640px) {
    #modal-content {
        min-width: 300px;
        width: 95%;
    }
}