$pushy-width: 25rem !default;

html {
    body > * {
        transition: transform .25s ease-out;
    }

    &.pushy-active {
        overflow: hidden;
    }

    &.push-left {
        body {
            overflow-x: visible;

            > * {
                transition: transform .25s ease-in, opacity .25s ease-in, filter .25s !important;
            }
        }

        &.pushy-active {
            body > *:not(.pushy-container) {
                transform: translateX($pushy-width);
                //opacity: 0.6;
                filter: grayscale(60%) blur(4px);
            }

            aside.pushy-container.push-left {
                transform: translateX(0);
            }
            aside.pushy-container.push-right {
                transform: translateX($pushy-width * 2);
            }
        }
    }
    &.push-right {
        body {
            overflow-x: visible;

            > * {
                transition: transform .25s ease-in, opacity .25s ease-in, filter .25s !important;
            }
        }

        &.pushy-active {
            body > *:not(.pushy-container) {
                transform: translateX(-$pushy-width);
                //opacity: 0.6;
                filter: grayscale(60%) blur(4px);
            }

            aside.pushy-container.push-left {
                transform: translateX(-$pushy-width * 2);
            }
            aside.pushy-container.push-right {
                transform: translateX(0);
            }
        }
    }
}

aside.pushy-container {
    width: $pushy-width;
    max-width: 100vw;
    height: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: auto;

    &.push-left {
        left: 0;
        transform: translateX(-$pushy-width);
        box-shadow: 0 1rem 2rem 0.6rem rgba(black, 0.1);
    }

    &.push-right {
        right: 0;
        transform: translateX($pushy-width);
        box-shadow: 0 -1rem 2rem 0.6rem rgba(black, 0.1);
    }

    > a.pushy-close {
        position: absolute;
        right: 0;
        padding: 0.6rem 0.7rem;
        line-height: 1;
        cursor: pointer;
        font-size: 0.9rem;
    }

    > .pushy-content {
        padding: 1rem;
    }
}