$pushy-width: 25rem !default;

body {
    transition: margin-left .25s ease-out, margin-right .25s ease-out;

    &.push-left {
        transition: margin-left .25s ease-in, margin-right .25s ease-in;

        &.pushy-active {
            margin-right: -$pushy-width;
            margin-left: $pushy-width;
        }
    }
    &.push-right {
        transition: margin-left .25s ease-in, margin-right .25s ease-in;

        &.pushy-active {
            margin-left: -$pushy-width;
            margin-right: $pushy-width;
        }
    }
}

aside.pushy-container {
    width: $pushy-width;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    margin-left: 0;
    margin-right: 0;
    transition: margin-left .25s ease-out, margin-right .25s ease-out !important;
    overflow: auto;

    body.push-left & {
        transition: margin-left .25s ease-in, margin-right .25s ease-in !important;
    }

    body.push-right & {
        transition: margin-left .25s ease-in, margin-right .25s ease-in !important;
    }

    &.push-left {
        left: -$pushy-width;

        body.push-left.pushy-active & {
            margin-left: $pushy-width;
        }
        body.push-right.pushy-active & {
            margin-left: -$pushy-width;
        }
    }

    &.push-right {
        right: -$pushy-width;

        body.push-right.pushy-active & {
            margin-right: $pushy-width;
        }
        body.push-left.pushy-active & {
            margin-right: -$pushy-width;
        }
    }

    > a.pushy-close {
        position: absolute;
        right: 0;
        padding: 0.6rem 0.7rem;
        line-height: 1;
        cursor: pointer;
        font-size: 0.9rem;
    }

    > .pushy-content {
        padding: 1rem;
    }
}