@charset "UTF-8";

// Forms

.widget-form {
    @extend %clearfix;
    margin-bottom: 0.5em;
    padding: 0;
}


.widget-fieldSet {
    padding: 1em;
    margin: 0.5em 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    + .widget-buttonArea {
        padding-left: $form-label-width + 2em;

        &.stacked {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.widget-buttonArea {
    @if $cell-inset == true {
        padding: 1em;
    } @else {
        padding: 1em 0;
    }

    font-size: 1em;

    .widget-buttonGroup {
        display: inline-block;
        margin-left: 1em;

        &:first-child {
            margin-left: 0;
        }
    }
}

%innerLabelWidget {
    text-align: left;
    width: auto;
    float: none;
    clear: both;
    margin: 0;
    font-size: 0.9em;
}

.widget-field {
    @extend %clearfix;
    padding: 0.3em 0;
    font-size: 1em;

    > .widget-labelArea {
        float: left;
        width: $form-label-width;
        text-align: $form-label-align;
        margin: 0.15em 1em 0 0;
        font-size: 1em;
    }

    &.required > .widget-labelArea > .widget-label:after {
        content: ' *';
        color: #CC0000;
    }

    > .widget-fieldError {
        padding-left: $form-label-width + 1em;
        padding-bottom: 0.3em;
    }

    > .widget-inputArea {
        @extend %clearfix;
        margin-left: $form-label-width + 1em;

        > .description {
            margin-bottom: 0.5em;
            font-size: 0.8em;
        }

        > .widget-field,
        > .fire-block > .widget-field {
            padding: 0.4em;
            margin: 0.3em 0;

            > .widget-label {
                @extend %innerLabelWidget;
            }

            > .widget-inputArea {
                margin: 0.3em 0 0 0;
            }
        }

        > .widget-flashMessage {
            font-size: 0.9em;
            padding: 0.3em;
        }

        > .widget-buttonArea {
            padding: 0.3em;
        }
    }

    &.stacked {
        margin-top: 0.75em;

        > .widget-labelArea {
            width: auto;
            float: none;
            margin-bottom: 0.6em;
            text-align: left;
        }

        > .widget-inputArea {
            margin-left: 0;

            > .widget-field {
                padding-left: 0;
                padding-right: 0;
            }
        }

        > .widget-fieldError {
            padding-left: 0;
        }
    }

    + .widget-buttonArea {
        padding-left: $form-label-width + 1em;

        &.stacked {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &:target > .widget-inputArea,
    & :target {
        outline: 2px yellow solid;
    }
}

.widget-fieldError div {
    color: $error-color;
    font-size: 0.9em;
    font-style: italic;
}

.fire-block {
    padding: 0.3em;

    .fire-block {
        margin-left: 1em;
    }

    .widget-fieldSet > .body > .widget-field {
        > .widget-labelArea {
            @extend %innerLabelWidget;
            margin-bottom: 0.4em;
        }

        > .widget-inputArea {
            margin-left: 0;
        }
    }

    .widget-field {
        > .widget-labelArea {
            @extend %innerLabelWidget;
        }

        > .widget-fieldError {
            padding-left: 0;
        }
    }
}

.widget-selection {
    @extend %clearfix;
    width: 90%;
    margin-bottom: 0.2em;
    font-size: 0.9em;

    > .body {
        float: left;
        width: 18em;
        padding: 0.2em 0.5em;
    }

    > .widget-buttonArea {
        float: left;
        margin: 0 0 0 1em;
        background: none;
        padding: 0;
    }

    ul {
        list-style: none;
        padding: 0;
    }
}


.widget-textbox {
    width: 100%;
    max-width: $form-input-width;
    box-sizing: border-box;
}

.widget-textarea,
.widget-htmlEditor {
    box-sizing: border-box;
    width: 100%;
    max-width: 50rem;
    min-height: 6em;
}

.widget-textbox,
.widget-textarea,
.widget-htmlEditor {
    background: #FFF;
    border: 1px #AAA solid;
    padding: 2px 4px;

    &.error {
        border-color: $error-color;
    }

    &[disabled] {
        background: #EEE;
        opacity: 0.8;
    }
}

.widget-radioButtonGroup,
.widget-checkboxGroup,
.widget-checkboxList {
    margin-bottom: 1em;

    label {
        display: block;
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.inline label {
        display: inline-block;
        margin-right: 1em;
    }
}

.widget-radioButton,
.widget-checkbox {
    margin-right: 0.6em;
}

.widget-rangeSlider {
    height: 1.1em;
}


.widget-eventButton {
    cursor: pointer;

    &[disabled] {
        color: $disabled-color !important;
        cursor: default;
        opacity: 0.7;
    }

    span[data-icon]:before {
        color: inherit !important;
    }
}



// Lists
.widget-collectionList,
.widget-attributeList {
    margin-bottom: 1em;

    table {
        width: 100%;
    }

    tr.spacer td {
        height: 1em;
    }

    td {
        :last-child {
            margin-bottom: 0;
        }

        > .widget-bulletList {
            list-style: none;
            padding-left: 0;
            margin: 0;
        }
    }

    tr.divider {
        td {
            font-size: 1.4em;
            line-height: 2.2em;
        }
    }
}

.widget-attributeList {
    display: inline-block;
    min-width: 40em;
    max-width: 65em;

    td, th {
        padding: 0.25em 0.5em;
    }

    th {
        width: $form-label-width;
        text-align: left;
        vertical-align: top;

        @if $cell-inset == false {
            padding-left: 0;
        }

        &:after {
            content: ':';
        }
    }
}

.widget-paginator + .widget-collectionList {
    margin: 0.7em 0;
}

.widget-collectionList {
    a.order.active {
        &.asc:after {
            font-size: 0.75em;
            content: ' ⇑'
        }
        &.desc:after {
            font-size: 0.75em;
            content: ' ⇓';
        }
    }

    td, th {
        padding: 0.1em 0.3em;
        height: 2em;
        vertical-align: middle;
    }

    td {
        &.field-select {
            width: 1%;
        }

        &.field-relevance {
            width: 1%;
            padding-right: 1em;
        }

        &.field-actions a.widget-link {
            margin: 0 0.15em;
            font-size: 1.2em;
            width: 1.2em !important;
            height: 1.2em !important;
            overflow: hidden;
            visibility: hidden;

            &:first-child {
                margin-left: 0;
            }

            span[data-icon] {
                margin-right: 1em;
                visibility: visible;

                &:before {
                    padding-right: 0;
                }
            }
        }
    }
}

.widget-inputArea > .widget-collectionList {
    display: inline-block;

    td {
        padding-right: 2rem;
    }
}



.widget-paginator {
    @extend %clearfix;

    .block-details {
        float: left;
        padding: 0.05em 0.4em;
    }

    .block-links {
        float: right;

        a {
            padding: 0.05em 0.4em;
            text-decoration: none;

            &.link-selected {
                font-weight: bold;
            }
        }
    }
}


.widget-articleList {
    list-style: none;
    margin: 0 0 1.5em;
    padding: 0;
    max-width: 40em;

    article {
        margin-bottom: 1.5em;

        > .widget-articleList {
            margin: 0.5em 0 0 1em;
            padding: 0.5em 0.3em;
        }

        > header {
            padding: 0.4em 0.6em;
            @extend %clearfix;

            h3 {
                margin: 0 0 0.2em;
                font-size: 1.2em;
                padding: 0;
                background: none;
            }

            p {
                font-size: 0.9em;
                margin: 0;
            }
        }

        > section {
            padding: 0.4em 0.6em;
            margin-bottom: 0.5em;

            :last-child {
                margin-bottom: 0;
            }
        }

        > footer {
            padding-top: 0.5em;
            font-size: 0.8em;
            margin: 0 0.6em;
        }
    }

    > li:last-child > article {
        margin-bottom: 0;
    }
}



// Menus
.widget-menu,
.widget-menuBar,
.widget-blockMenu {
    ul {
        list-style: none;
        padding: 0;
        overflow: auto;
        margin: 0;
        width: auto;
    }
}

.widget-menuBar {
    padding: 0.4em;
    margin-bottom: 1em;
}

.widget-menu {
    display: inline-block;
    min-width: 20em;
    margin-bottom: 1em;

    li {
        margin-bottom: 0.25em;
    }
}

.widget-menuBar {
    li {
        float: left;
        margin: 0 1em 0 0;
    }

    .widget-spacer {
        border-left: 2px #AAA solid;
        font-size: 0.8em;
        box-shadow: 1px 0 2px #CCC;
    }
}

.widget-blockMenu {
    li {
        float: left;
        padding: 0.2em;
        box-sizing: border-box;

        a {
            width: 100%;
        }

        .widget-blockLink {
            width: auto;
            max-width: none;
            min-width: none;
            display: block;
        }
    }
}

@media only screen and (max-width: 6000px) {.widget-blockMenu li { width: 10%; }}
@media only screen and (max-width: 3000px) {.widget-blockMenu li { width: 15%; }}
@media only screen and (max-width: 2200px) {.widget-blockMenu li { width: 20%; }}
@media only screen and (max-width: 1550px) {.widget-blockMenu li { width: 25%; }}
@media only screen and (max-width: 900px) {.widget-blockMenu li { width: 33%; }}
@media only screen and (max-width: 650px) {.widget-blockMenu li { width: 50%; }}
@media only screen and (max-width: 450px) {.widget-blockMenu li { width: 100%; }}

.widget-blockLink {
    display: inline-block;
    padding: 0.4em;
    min-width: 10em;
    max-width: 18em;
    text-decoration: none !important;

    header {
        font-size: 1.1em;
        font-weight: bold;
    }

    &:hover header {
        text-decoration: underline;
    }

    p {
        min-height: 4em;
        margin: 0.5em 0;
    }
}



// Flash messages
.widget-flashMessage {
    border: 1px #F4F4F4 solid;
    margin-bottom: 1em;
    padding: 0.4em 1em;

    &.success {
        background: rgba(desaturate(lighten($success-color, 65%), 45%), 0.65);
        border-color: $success-color;
    }

    &.error {
        background: rgba(desaturate(lighten($error-color, 45%), 35%), 0.65);
        border-color: $error-color;
    }

    &.info {
        background: rgba(desaturate(lighten($informative-color, 60%), 35%), 0.65);
        border-color: $informative-color;
    }

    &.warning {
        background: rgba(desaturate(lighten($warning-color, 60%), 35%), 0.65);
        border-color: $warning-color;
    }

    &.debug {
        background: rgba(desaturate(lighten($debug-color, 60%), 35%), 0.65);
        border-color: $debug-color;
    }

    .message {
        margin: 0;
        font-weight: bold;
    }

    a {
        display: block;
        padding: 0;
        margin: 0;
        color: inherit !important;
        text-decoration: none;
    }

    .description {
        font-size: 0.8em;
        color: #777;
        margin: 0.2em 0 0 1.8em;
    }
}


.widget-flashList {
    margin-bottom: 1em;

    .widget-flashMessage {
        margin: 0.2em 0;
    }
}



// Overlay
.widget-overlay {
    background: #999;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    padding: 2.5em;
    box-sizing: border-box;
    z-index: 1000;

    .container {
        background: #FFF;
        height: 87vh;
        padding: 2em;
        box-sizing: border-box;
        overflow: auto;

        iframe {
            width: 100%;
            min-height: 70vh;
            border: none;
        }
    }
}


// Panel set
.widget-panelSet {
    width: 100%;
    display: table;

    > .widget-panel {
        display: table-cell;
        vertical-align: top;
        padding: 0 0.5em;
        box-sizing: border-box;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }

        .widget-attributeList {
            display: block;
            width: 100%;
            min-width: 20em;
        }
    }
}


// Star rating
.widget-starRating {
    [data-icon] {
        margin: 0;
    }
}


// Breadcrumbs
.widget-breadcrumbList {
    margin-bottom: 1em;
}


// General input
input + button {
    margin-left: 1em;
}