@charset "UTF-8";

// Forms

.w-form {
    @extend %clearfix;
    margin-bottom: 0.5em;
    padding: 0;
}


.w-fieldSet {
    padding: 1em;
    margin: 0.5em 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    + .w-buttonArea {
        margin-top: 2em;
        &:before {
            content: ' ';
            display: block;
            width: $form-label-width;
            max-width: 40%;
            height: 100%;
        }
    }
}

.stacked .w-fieldSet, .w-fieldSet.stacked {
    + .w-buttonArea {
        &:before {
            display: none;
        }
    }
}

.w-buttonArea {
    font-size: 1em;
    display: flex;
    width: 100%;
    box-sizing: border-box;

    :last-child {
        margin-right: 0;
    }

    > button {
        margin-right: 0.7em;

    }

    .w-buttonGroup {
        display: inline-block;
        margin-left: 1em;

        &:first-child {
            margin-left: 0;
        }
    }
}

%innerLabelWidget {
    text-align: left;
    width: auto;
    float: none;
    clear: both;
    margin: 0;
    font-size: 0.9em;
}


.w-field {
    @extend %clearfix;
    margin: 0 0 1em;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 100%;

    &:target > .w-inputArea,
    & :target {
        outline: 2px yellow solid;
    }

    > .w-labelArea {
        float: left;
        width: $form-label-width;
        flex: 0 0 $form-label-width;
        text-align: $form-label-align;
        margin: 0;
        font-size: 1em;
        max-width: 40%;
        padding-right: 1em;
        box-sizing: border-box;
        height: auto;

        > .w-label {
            display: block;
            padding: 0.15em 0;
        }

        &.empty {
            .w-label {
                display: none;
            }
        }
    }

    &.required > .w-labelArea {
        > .w-label:after {
            content: ' *';
            color: #CC0000;
        }
    }

    &.error:before {
        order: -2;
        content: ' ';
        height: 1px;
        width: $form-label-width;
        flex: 0 0 $form-label-width;
        text-align: $form-label-align;
        margin: 0;
        font-size: 1em;
        max-width: 40%;
        padding-right: 1em;
        box-sizing: border-box;
    }

    > .w-fieldError {
        order: -1;
        flex: 0 1 60%;
        margin-bottom: 0.2em;
        min-width: calc(100% - #{$form-label-width});
    }

    > .w-inputArea {
        @extend %clearfix;
        width: 60%;
        flex: 1 1 1px;
        float: left;

        > .description {
            margin-bottom: 0.5em;
            font-size: 0.8em;
        }

        > .w-field,
        > .fire-block > .w-field {
            //padding: 0.4em;
            //margin: 0.3em 0;

            > .w-label {
                @extend %innerLabelWidget;
            }

            > .w-inputArea {
                margin: 0.3em 0 0 0;
            }
        }

        > .w-flashMessage {
            font-size: 0.9em;
            padding: 0.3em;
        }

        > .w-buttonArea {
            padding: 0.3em;
        }
    }

    + .w-buttonArea {
        margin-top: 2em;

        &:before {
            content: ' ';
            display: block;
            width: $form-label-width;
            max-width: 40%;
            height: 100%;
        }
    }
}

.stacked .w-field, .w-field.stacked {
    display: block;

    &:before {
        display: none !important;
    }

    > .w-labelArea {
        float: none;
        width: auto;
        text-align: left;
        margin-bottom: 0.4em;
        max-width: none;

        &.empty {
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;

            label {
                padding: 0;
            }
        }
    }

    > .w-fieldError {
        margin: -0.4em 0 0.4em 0;

        &:before {
            display: none;
        }
    }

    > .w-inputArea {
        width: 100%;
    }

    + .w-buttonArea {
        &:before {
            display: none;
        }
    }
}

.w-field.floated, .floated .w-field {
    display: flex;

    &.error:before {
        display: block !important;
    }

    > .w-labelArea {
        float: left;
        width: $form-label-width;
        margin: 0;
        max-width: 40%;
    }

    > .w-inputArea {
        width: 60%;
    }

    + .w-buttonArea {
        &:before {
            display: block;
        }
    }
}

.w-fieldError div {
    color: $error-color;
    font-size: 0.9em;
    font-style: italic;
}

.fire-block {
    padding: 0.3em;

    .fire-block {
        margin-left: 1em;
    }

    .w-fieldSet > .body > .w-field {
        > .w-labelArea {
            @extend %innerLabelWidget;
            margin-bottom: 0.4em;
        }

        > .w-inputArea {
            margin-left: 0;
        }
    }

    .w-field {
        > .w-labelArea {
            @extend %innerLabelWidget;
        }

        > .w-fieldError {
            padding-left: 0;
        }
    }
}

.w-selection {
    @extend %clearfix;
    width: 90%;
    margin-bottom: 0.2em;
    font-size: 0.9em;

    > .body {
        float: left;
        width: 18em;
        padding: 0.2em 0.5em;
    }

    > .w-buttonArea {
        float: left;
        margin: 0 0 0 1em;
        background: none;
        padding: 0;
        width: auto;
    }

    ul {
        list-style: none;
        padding: 0;
    }
}


.w-textbox {
    width: 100%;
    max-width: $form-input-width;
    box-sizing: border-box;
}

.w-textarea,
.w-htmlEditor {
    box-sizing: border-box;
    width: 100%;
    max-width: 50rem;
    min-height: 6em;
}

.w-textbox,
.w-textarea,
.w-htmlEditor {
    background: #FFF;
    border: 1px #AAA solid;
    padding: 2px 4px;

    &.error {
        border-color: $error-color;
    }

    &[disabled] {
        background: #EEE;
        opacity: 0.8;
    }
}

.w-radioButtonGroup,
.w-checkboxGroup,
.w-checkboxList {
    margin-bottom: 1em;

    label {
        display: block;
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.inline label {
        display: inline-block;
        margin-right: 1em;
    }
}

.w-radioButton,
.w-checkbox {
    margin-right: 0.6em;
}

.w-rangeSlider {
    height: 1.1em;
}

button.text {
    background: none;
    border: none;
}

.w-eventButton {
    cursor: pointer;

    &[disabled] {
        color: $disabled-color !important;
        cursor: default;
        opacity: 0.7;
    }

    span[data-icon]:before {
        color: inherit !important;
    }
}



// Lists
.w-collectionList,
.w-attributeList {
    margin-bottom: 1em;

    table {
        width: 100%;
    }

    tr.spacer td {
        height: 1em;
    }

    td {
        :last-child {
            margin-bottom: 0;
        }

        > .w-bulletList {
            list-style: none;
            padding-left: 0;
            margin: 0;
        }
    }

    tr.divider {
        td {
            font-size: 1.4em;
            line-height: 2.2em;
        }
    }
}

.w-attributeList {
    display: inline-block;
    min-width: 40em;
    max-width: 65em;

    td, th {
        padding: 0.25em 0.5em;
    }

    th {
        width: $form-label-width;
        text-align: left;
        vertical-align: top;

        @if $cell-inset == false {
            padding-left: 0;
        }

        &:after {
            content: ':';
        }
    }
}

.w-paginator + .w-collectionList {
    margin: 0.7em 0;
}

.w-collectionList {
    a.order.active {
        &.asc:after {
            font-size: 0.75em;
            content: ' ⇑'
        }
        &.desc:after {
            font-size: 0.75em;
            content: ' ⇓';
        }
    }

    td, th {
        padding: 0.1em 0.3em;
        height: 2em;
        vertical-align: middle;
    }

    td {
        &.field-select {
            width: 1%;
        }

        &.field-relevance {
            width: 1%;
            padding-right: 1em;
        }

        &.field-actions {
            white-space: nowrap;

            a.w-link {
                margin: 0 0.15em;
                font-size: 1.2em;
                width: 1.2em !important;
                height: 1.2em !important;
                overflow: hidden;
                visibility: hidden;

                &:first-child {
                    margin-left: 0;
                }

                span[data-icon] {
                    margin-right: 1em;
                    visibility: visible;

                    &:before {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.w-inputArea > .w-collectionList {
    display: inline-block;

    td {
        padding-right: 2rem;
    }
}



.w-paginator {
    @extend %clearfix;

    .block-details {
        float: left;
        padding: 0.05em 0.4em;
    }

    .block-links {
        float: right;

        a {
            padding: 0.05em 0.4em;
            text-decoration: none;

            &.link-selected {
                font-weight: bold;
            }
        }
    }
}


.w-articleList {
    list-style: none;
    margin: 0 0 1.5em;
    padding: 0;
    max-width: 40em;

    article {
        margin-bottom: 1.5em;

        > .w-articleList {
            margin: 0.5em 0 0 1em;
            padding: 0.5em 0.3em;
        }

        > header {
            padding: 0.4em 0.6em;
            @extend %clearfix;

            h3 {
                margin: 0 0 0.2em;
                font-size: 1.2em;
                padding: 0;
                background: none;
            }

            p {
                font-size: 0.9em;
                margin: 0;
            }
        }

        > section {
            padding: 0.4em 0.6em;
            margin-bottom: 0.5em;

            :last-child {
                margin-bottom: 0;
            }
        }

        > footer {
            padding-top: 0.5em;
            font-size: 0.8em;
            margin: 0 0.6em;
        }
    }

    > li:last-child > article {
        margin-bottom: 0;
    }
}



// Menus
.w-menu,
.w-menuBar,
.w-blockMenu {
    ul {
        list-style: none;
        padding: 0;
        overflow: auto;
        margin: 0;
        width: auto;
    }
}

.w-menuBar {
    padding: 0.4em;
    margin-bottom: 1em;
}

.w-menu {
    display: inline-block;
    min-width: 20em;
    margin-bottom: 1em;

    li {
        margin-bottom: 0.25em;
    }
}

.w-menuBar {
    li {
        float: left;
        margin: 0 1em 0 0;
    }

    .w-spacer {
        border-left: 2px #AAA solid;
        font-size: 0.8em;
        box-shadow: 1px 0 2px #CCC;
    }
}

.w-blockMenu {
    li {
        float: left;
        padding: 0.2em;
        box-sizing: border-box;

        a {
            width: 100%;
        }

        .w-blockLink {
            width: auto;
            max-width: none;
            min-width: none;
            display: block;
        }
    }
}

@media only screen and (max-width: 6000px) {.w-blockMenu li { width: 10%; }}
@media only screen and (max-width: 3000px) {.w-blockMenu li { width: 15%; }}
@media only screen and (max-width: 2200px) {.w-blockMenu li { width: 20%; }}
@media only screen and (max-width: 1550px) {.w-blockMenu li { width: 25%; }}
@media only screen and (max-width: 900px) {.w-blockMenu li { width: 33%; }}
@media only screen and (max-width: 650px) {.w-blockMenu li { width: 50%; }}
@media only screen and (max-width: 450px) {.w-blockMenu li { width: 100%; }}

.w-blockLink {
    display: inline-block;
    padding: 0.4em;
    min-width: 10em;
    max-width: 18em;
    min-height: 8em;
    text-decoration: none !important;

    header {
        font-size: 1.1em;
        font-weight: bold;
    }

    &:hover header {
        text-decoration: underline;
    }

    p {
        margin: 0.5em 0;
    }
}



// Flash messages
.w-flashMessage {
    border: 1px #F4F4F4 solid;
    margin-bottom: 1em;
    padding: 0.4em 1em 0.4em 3em;
    display: block !important;
    position: relative;

    &.success {
        background: rgba(desaturate(lighten($success-color, 65%), 45%), 0.65);
        border-color: $success-color;
    }

    &.error {
        background: rgba(desaturate(lighten($error-color, 45%), 35%), 0.65);
        border-color: $error-color;
    }

    &.info {
        background: rgba(desaturate(lighten($informative-color, 60%), 35%), 0.65);
        border-color: $informative-color;
    }

    &.warning {
        background: rgba(desaturate(lighten($warning-color, 60%), 35%), 0.65);
        border-color: $warning-color;
    }

    &.debug {
        background: rgba(desaturate(lighten($debug-color, 60%), 35%), 0.65);
        border-color: $debug-color;
    }

    > span[data-icon] {
        float: left;
        position: absolute;
        font-size: 1.2em;
        height: 1em;
        left: 0.8em;
        top: 0;
        bottom: 0;
        margin: auto;
        line-height: 1;
    }

    .message {
        margin: 0;
        font-weight: bold;
        line-height: 1;
    }

    .description {
        font-size: 0.8em;
        color: #777;
        margin: 0.2em 0 0;
    }
}

a.w-flashMessage {
    text-decoration: none !important;
}


.w-flashList {
    margin-bottom: 1em;

    .w-flashMessage {
        margin: 0.2em 0;
    }
}



// Overlay
.w-overlay {
    background: #999;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    padding: 2.5em;
    box-sizing: border-box;
    z-index: 1000;

    .container {
        background: #FFF;
        height: 87vh;
        padding: 2em;
        box-sizing: border-box;
        overflow: auto;

        iframe {
            width: 100%;
            min-height: 70vh;
            border: none;
        }
    }
}


// Panel set
.w-panelSet {
    width: 100%;
    display: table;

    > .w-panel {
        display: table-cell;
        vertical-align: top;
        padding: 0 0.5em;
        box-sizing: border-box;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }

        .w-attributeList {
            display: block;
            width: 100%;
            min-width: 20em;
        }
    }
}


// Star rating
.w-starRating {
    [data-icon] {
        margin: 0;
    }
}


// Breadcrumbs
.w-breadcrumbList {
    margin-bottom: 1em;
}


// General input
input + button {
    margin-left: 1em;
}