html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
}
ol, ul {
    padding-left: 1.4em;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin-bottom: 1em;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
    margin: 1em 0 0.2em;
}

sup {
    /*vertical-align: super;*/
    position: relative; 
    top: -0.5em;
}

sub {
    vertical-align: sub;
}

sup, sub {
    font-size: 0.75em;
}



@font-face {
    font-family: 'Icomoon';
    src: url('../fonts/Icomoon.eot');
    src: url('../fonts/Icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Icomoon.svg#Icomoon') format('svg'),
        url('../fonts/Icomoon.woff') format('woff'),
        url('../fonts/Icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}







body {
    font-family: "Helvetica", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    background: #EEE;
    color: #444;
}

body[data-location^="~admin/"] {
    background: #E7DDD6;
}

body[data-location^="~devtools/"] {
    background: #CBE3E7;
}

@media only screen and (max-width: 1600px) {body { font-size: 18px; }}
@media only screen and (max-width: 1500px) {body { font-size: 17px; }}
@media only screen and (max-width: 1400px) {body { font-size: 16px; }}
@media only screen and (max-width: 1200px) {body { font-size: 15px; }}
@media only screen and (max-width: 1066px) {body { font-size: 14px; }}
@media only screen and (max-width: 933px) {body { font-size: 13px; }}
@media only screen and (max-width: 800px) {body { font-size: 12px; }}


header h1 {
    font-size: 3em;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    background: #FAFAFA;
    font-size: 1.5em;
    padding: 0.2em 0.3em;
    border-radius: 0.3em;
}

.layout-pageArea {
    margin: 2em;
    background: #FFF;
    min-height: 500px;
    padding: 1em;
}

a {
    display: inline-block;
    padding: 0;
}

a:link,
a:visited {
    color: #575757;
    text-decoration: none;
}

a:hover,
a:active {
    color: #737373;
    text-decoration: underline;
}



a.disposition-positive:link,
a.disposition-positive:visited {
    color: darkgreen;
}

a.disposition-positive:hover,
a.disposition-positive:active {
    color: green;
}


a.disposition-negative:link, 
a.disposition-negative:visited {
    color: darkred;
}

a.disposition-negative:hover,
a.disposition-negative:active {
    color: red;
}


a.disposition-informative:link,
a.disposition-informative:visited {
    color: #2D6672;
}

a.disposition-informative:hover,
a.disposition-informative:active {
    color: #3C8A99;
}



a.disposition-operative:link,
a.disposition-operative:visited {
    color: #8F7310;
}

a.disposition-operative:hover,
a.disposition-operative:active {
    color: #B18F14;
}



a.disposition-transitive:link,
a.disposition-transitive:visited {
    color: #6A3277;
}

a.disposition-transitive:hover,
a.disposition-transitive:active {
    color: #894099;
}





em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

dl:before, 
dl:after { content:""; display:table; }
dl:after { clear:both; }
dl {
    zoom:1;
}

dt {
    font-weight: bold;
    width: 10em;
    float: left;
    clear: left;
}

dt:after {
    content: ':';
}

dd {
    float: left;
}

th {
    font-weight: bold;
    text-align: left;
}

th a {
    text-decoration: none;
}


code, pre {
    font-family: "Courier New", Courier, Monospace;
    font-size: 0.9em;
}

samp {
    font-family: Monospace;
    font-size: 0.9em;
}

section {
    margin-bottom: 1em;
}


input, button, select, textarea {
    font-size: 0.8em;
}

button {
    color: #777;
    cursor: pointer;
}

button[disabled] {
    color: #BBB !important;
    cursor: default;
}

.disposition-positive {
    color: green;
}

.disposition-negative {
    color: red;
}

.disposition-transitive {
    color: #6A3277;
}

.disposition-informative {
    color: #2D6672;
}

.disposition-operative {
    color: #8F7310;
}

button span[data-icon]:before {
    color: inherit !important;
}



.layout-header:before, 
.layout-header:after { content:""; display:table; }
.layout-header:after { clear:both; }
.layout-header {
    zoom:1;
}


.widget-breadcrumbList {
    margin-bottom: 1em;
    padding: 0.4em;
    border-radius: 8px;
    background: #F4F4F4;
}



.prop-na {
    color: #777;
    opacity: 0.7;
}



.widget-container {
    border: 3px #F5F5F5 solid;
    border-radius: 0.5em;
    padding: 0.7em;
}

.widget-form:before, 
.widget-form:after { content:""; display:table; }
.widget-form:after { clear:both; }
.widget-form {
    zoom:1;
    margin-bottom: 0.5em;
    padding: 0;
}

.widget-form .widget-fieldSet > .body > .widget-fieldArea:target > .widget-inputArea,
.widget-fieldArea :target {
    outline: 2px yellow solid;
}

.widget-fieldSet:first-child {
    margin-top: 0;
}

.widget-fieldSet,
.widget-buttonArea {
    margin: 0.5em 0;
    background: #F4F4F4;
    padding: 0.8em;
    border-radius: 0.5em;
}

.widget-fieldSet:last-child,
.widget-buttonArea:last-child {
    margin-bottom: 0;
}

.widget-fieldSet > div.body > label {
    display: block;
}

.widget-fieldArea:before, 
.widget-fieldArea:after { content:""; display:table; }
.widget-fieldArea:after { clear:both; }
.widget-fieldArea {
    zoom:1;
    padding: 0.3em;
    background: #FFF;
    font-size: 0.95em;
}

.widget-fieldArea .widget-fieldArea {
    font-size: 1em;
}

.widget-fieldArea > .widget-label {
    float: left;
    width: 14em;
    text-align: right;
    margin: 0.15em 1em 0 0;
    font-size: 1em;
    color: #333;
}

.widget-fieldArea.constraint-required > .widget-label:after {
    content: ' *';
    color: #CC0000;
}

.widget-rangeSlider {
    height: 1.1em;
}


.widget-fieldArea > .widget-inputArea:before, 
.widget-fieldArea > .widget-inputArea:after { content:""; display:table; }
.widget-fieldArea > .widget-inputArea:after { clear:both; }
.widget-fieldArea > .widget-inputArea {
    zoom:1;
    margin-left: 15em;
}

.widget-inputArea > .description {
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

.widget-buttonArea h3 {
    margin: 0;
}

.widget-fieldSet + .widget-buttonArea {
    padding-left: 16.5em;
}

.widget-fieldArea + .widget-buttonArea {
    padding-left: 15.4em;
}

.widget-fieldError {
    color: red;
    font-size: 0.9em;
    font-style: italic;
}

.widget-fieldArea > .widget-fieldError {
    padding-left: 16.7em;
    padding-bottom: 0.3em;
}

.widget-fieldArea > .widget-inputArea > .widget-buttonArea {
    padding: 0.3em;
    background-color: #FAFAFA;
}

.fire-block {
    background: #EBE5E0;
    padding: 0.3em;
    border-radius: 4px;
}

.fire-block .fire-block {
    margin-left: 1em;
    background: #D8EBDF;
}

.fire-block .fire-block .fire-block {
    background: #EBEBD0;
}

.fire-block .fire-block .fire-block .fire-block {
    background: #E4E0EB;
}

.fire-block .fire-block .fire-block .fire-block .fire-block {
    background: #EBE0E3;
}

.widget-fieldArea > .widget-inputArea > .fire-block > .widget-fieldArea,
.widget-fieldArea > .widget-inputArea > .widget-fieldArea {
    border: 1px #EEE solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0.4em;
    margin: 0.3em 0;
}

.widget-fieldArea > .widget-inputArea > .fire-block > .widget-fieldArea > .widget-label,
.widget-fieldArea > .widget-inputArea > .widget-fieldArea > .widget-label {
    text-align: left;
    width: auto;
    float: none;
    clear: both;
    margin: 0;
    font-size: 0.9em;
}

.widget-fieldArea > .widget-inputArea > .fire-block > .widget-fieldArea .widget-inputArea,
.widget-fieldArea > .widget-inputArea > .widget-fieldArea .widget-inputArea {
    margin: 0.3em 0 0 0;
}

.fire-block > .widget-fieldArea > .widget-fieldError {
    padding-left: 0;
}


.delegate-selector > .widget-inputArea > .selection {
    float: left;
    width: 18em;
    padding: 0.2em 0.5em;
    background: #FAFAFA;
    font-size: 0.9em;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.delegate-selector > .widget-inputArea > .selection ul {
    list-style: none;
    padding: 0;
}

.delegate-selector > .widget-inputArea > .widget-buttonArea {
    font-size: 0.9em;
    float: left;
    margin: 0 0 0 1em;
    background: none;
    padding: 0;
}


.widget-textbox {
    min-width: 18em;
    width: 35%;
}

.widget-textarea,
.widget-htmlEditor {
    min-width: 30em;
    width: 35%;
    min-height: 6em;
    font-size: 0.75em;
}


.widget-radioButtonGroup label, 
.widget-checkboxGroup label {
    display: block;
}



.state-disabled {
    color: #777;
    opacity: 0.7;
}

.state-error {
    color: red;
}

.state-error input {
    border-color: red;
}

.state-success {
    color: green;
}

.state-info {
    color: #2D6672;
}

.state-warning {
    color: #8F7310;
}

.state-debug {
    color: #7B8034;
}


a.state-disabled:link, 
a.state-disabled:active, 
a.state-disabled:hover, 
a.state-disabled:visited {
    color: #777;
    cursor: not-allowed;
}

.state-active {
    font-weight: bold;
}

.state-lowPriority {
    opacity: 0.4;
}


.priority-trivial {
    color: green !important;
}

.priority-low {
    color: #8DAD00 !important;
}

.priority-medium {
    color: #8F7310 !important;
}

.priority-high {
    color: #BE3900 !important;
}

.priority-critical {
    color: red !important;
}



.widget-collectionList,
.widget-attributeList {
    border: 2px #F5F5F5 solid;
    border-radius: 0.5em;
    margin-bottom: 1em;
}


.widget-collectionList table,
.widget-attributeList table {
    width: 100%;
}

.widget-attributeList {
    display: inline-block;
    min-width: 30em;
    max-width: 55em;
}


.widget-attributeList th {
    width: 10em;
    vertical-align: top;
}

.widget-attributeList th:after {
    content: ':';
}



.widget-attributeList td > .widget-bulletList,
.widget-collectionList td > .widget-bulletList {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

td > p:last-child {
    margin-bottom: 0;
}


/*.widget-collectionList > * + table {*/
.widget-paginator + .widget-collectionList {
    margin: 0.7em 0;
}

.widget-collectionList .link-order-active.link-order-asc:after {
    font-size: 0.8em;
    content: ' ⇑'
}

.widget-collectionList .link-order-active.link-order-desc:after {
    font-size: 0.8em;
    content: ' ⇓';
}

.widget-collectionList th,
.widget-attributeList th {
    border-bottom: 2px #F5F5F5 solid;
    background: #F8F8F8;
}

.widget-attributeList td,
.widget-attributeList th {
    padding: 0.25em 0.5em;
}

.widget-collectionList td,
.widget-collectionList th {
    padding: 0.1em 0.3em;
    height: 2em;
    vertical-align: middle;
}

.widget-collectionList tr:nth-child(2n),
.widget-attributeList tr:nth-child(2n) {
    background: #FBFBFB;
}

.widget-attributeList tr:nth-child(2n) th {
    background: #F0F0F0;
}

.widget-collectionList td.field-actions a.widget-link {
    margin-left: 0;
    font-size: 1.2em;
}

.widget-collectionList td.field-actions a.widget-link span[data-icon]:before {
    padding-right: 0;
}

.widget-collectionList td.field-actions a.widget-link span[data-icon] + span {
    display: none;
}


.widget-paginator:before,
.widget-paginator:after {
    content:"";
    display:table;
}
.widget-paginator:after {
    clear:both;
}
.widget-paginator {
    zoom:1;
    font-size: 0.9em;
}


.widget-paginator .block-details {
    float: left;
    padding: 0.05em 0.4em;
    border: 2px #EEE solid;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.widget-paginator .block-links {
    float: right;
}

.widget-paginator .block-links a {
    border: 2px #EEE solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0.05em 0.4em;
    text-decoration: none;
}

.widget-paginator .block-links a.link-selected {
    font-weight: bold;
    border-color: #AAA;
}




.widget-articleList {
    list-style: none;
    margin: 0 0 1.5em;
    padding: 0;
    max-width: 40em;
}

.widget-articleList article > .widget-articleList {
    margin: 0.5em 0 0 1em;
    padding: 0.5em 0.3em;
    background: rgba(0,0,0,0.015);
    border-radius: 0.6em;
}

.widget-articleList article {
    margin-bottom: 1.5em;
}

.widget-articleList li:last-child article {
    margin-bottom: 0;
}

.widget-articleList article header {
    background: #F4F4F4;
    background: rgba(0,0,0,0.04);
    padding: 0.4em 0.6em;
    border-radius: 0.5em;
}

.widget-articleList article header h3 {
    margin: 0 0 0.2em;
    font-size: 1em;
    padding: 0;
    background: none;
}

.widget-articleList article > header p {
    font-size: 0.7em;
    color: #888;
    margin: 0;
}

.widget-articleList article > section {
    padding: 0.4em 0.6em;
}

.widget-articleList article > footer {
    border-top: 1px #F4F4F4 solid;
    padding-top: 0.5em;
    font-size: 0.8em;
    margin: 0 0.6em;
}



.widget-menu, 
.widget-menuBar {
    border: 4px #F4F4F4 solid;
    margin-bottom: 1em;
    padding: 0.4em;
    border-radius: 8px;
}


.widget-menu {
    display: inline-block;
    min-width: 20em;
}


.widget-menu ul,
.widget-menuBar ul,
.widget-blockMenu ul {
    list-style: none;
    padding: 0;
    overflow: auto;
    margin: 0;
    width: auto;
}

.widget-menu li {
    margin: 0.25em;
}

.widget-menuBar li {
    float: left;
    margin: 0 0.8em 0 0;
}

.widget-menuBar .widget-spacer {
    border-left: 2px #AAA solid;
    font-size: 0.8em;
    box-shadow: 1px 0 2px #CCC;
}

.widget-blockMenu li {
    float: left;
    padding: 0.2em;
    width: 16.6666%;
    box-sizing: border-box;
}

@media only screen and (max-width: 1920px) {.widget-blockMenu li { width: 20%; }}
@media only screen and (max-width: 1550px) {.widget-blockMenu li { width: 25%; }}
@media only screen and (max-width: 900px) {.widget-blockMenu li { width: 33%; }}
@media only screen and (max-width: 650px) {.widget-blockMenu li { width: 50%; }}
@media only screen and (max-width: 450px) {.widget-blockMenu li { width: 100%; }}


.widget-menu a {
    
}

.widget-menuBar + h2 {
    margin-top: -0.5em;
    border: 4px #F4F4F4 solid;
    margin-bottom: 1em;
    padding: 0.1em 0.3em;
    border-radius: 8px;
    font-size: 1.5em;
}



.widget-link,
.widget-blockLink {
    text-decoration: none !important;
}

.widget-link:link .body,
.widget-link:visited .body,
.widget-blockLink:link .body,
.widget-blockLink:visited .body {
    text-decoration: none;
    color: inherit;
}

.widget-link:hover .body,
.widget-link:active .body,
.widget-blockLink:hover .body,
.widget-blockLink:active .body {
    text-decoration: underline;
    color: inherit;
}

.widget-link + .widget-link.hasIcon {
    margin-left: 0.75em;
}



.widget-blockLink {
    display: inline-block;
    border: 4px #F8F8F8 solid;
    border-radius: 6px;
    /*min-height: 7em;*/
    padding: 0.4em;
    min-width: 10em;
    max-width: 18em;
}

.widget-blockLink p {
    min-height: 4em;
}

.widget-blockMenu li > .widget-blockLink {
    width: auto;
    max-width: none;
    display: block;
}

.widget-blockLink h1 {
    font-size: 1.1em;
    font-weight: bold;
}

.widget-blockLink p {
    text-decoration: none;
    color: #444;
}


span[data-icon] {
    margin: 0.2em;
    text-decoration: none;
}

span[data-icon]:before {
    font-family: 'Icomoon';
    content: attr(data-icon);
    speak: none;
    color: inherit;
    text-shadow: 0.02em 0.02em 0.02em #FFF, 0.15em 0.15em 0.2em rgba(0, 0, 0, 0.15);
    font-size: 0.9em;
    padding-right: 0.4em;
}

/*
span[data-icon]:empty:before {
    padding-right: 0;
}
*/

a:hover span[data-icon]:before {
    text-shadow: 0.02em 0.02em 0.02em #FFF, 0.15em 0.15em 0.2em rgba(0, 0, 0, 0.1);
}



.widget-notification {
    border: 4px #F4F4F4 solid;
    margin-bottom: 1em;
    padding: 0.4em;
    border-radius: 8px;
}

.widget-inputArea > .widget-notification {
    font-size: 0.7em;
    padding: 0.3em;
}

.widget-notification.state-success {
    background: #F7FFF4;
    border-color: #EEF5EB;
}

.widget-notification.state-error {
    background: #FFF4F4;
    border-color: #F5EBEB;
}

.widget-notification.state-info {
    background: #F4FDFF;
    border-color: #EBF3F5;
}

.widget-notification.state-warning {
    background: #FFFEF4;
    border-color: #F5F4EB;
}

.widget-notification.state-debug {
    background: #E9EFC0;
    border-color: #DFE5B8;
}

.widget-notification h4 {
    margin: 0;
}

.widget-notification a {
    display: block;
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
}

.widget-notification .description {
    font-size: 0.8em;
    color: #777;
    margin: 0.2em 0 0 1.8em;
}


.widget-notificationList .widget-notification {
    margin: 0 0 0.1em;
    padding: 0.2em;
    font-size: 0.8em;
    border-width: 3px;
}



.widget-overlay {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    padding: 2.5em;
    box-sizing: border-box;
    z-index: 1000;
}

.widget-overlay .container:before, 
.widget-overlay .container:after { content:""; display:table; }
.widget-overlay .container:after { clear:both; }
.widget-overlay .container {
    zoom:1;
    background: #FFF;
    height: 87vh;
    padding: 2em;
    box-sizing: border-box;
}