.fire-block {
    background: #EBE5E0;
    border-radius: 4px;

    nav.buttons {
        background: rgba(black, 0.1);
        padding: 0.25rem;
        border-radius: 0.25rem;
    }

    .fire-block {
        background: #D8EBDF;

        .fire-block {
            background: #EBEBD0;

            .fire-block {
                background: #E4E0EB;

                .fire-block {
                    background: #EBE0E3;
                }
            }
        }
    }
}
