fieldset.scaffold.search,
fieldset.scaffold.switcher,
fieldset.scaffold.filters,
fieldset.scaffold.with-selected {
    margin-bottom: 0.75em;
    padding: 0rem;

    > .body {
        padding: 0rem;

        nav.menu {
            margin-bottom: 0;
        }
    }
}

fieldset.scaffold.with-selected > div.body {
    display: flex;
    align-items: center;

    > div.label {
        font-size: 0.7em;
        color: #999;
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 1rem;
    }

    nav.menu {
        padding: 0;
    }
}

fieldset.scaffold.search {
    > div.body {
        display: flex;
        align-items: stretch;
    }

    button {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 0.8em;
    }

    a {
        align-self: center;
        margin-left: 1rem;
        font-size: 0.8em;
    }
}

fieldset.scaffold.switcher,
fieldset.scaffold.filters {
    margin-bottom: 0;
    background: transparent;

    > div.body {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: transparent;

        a,
        label {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.7em;
            color: #999;
            margin-right: 0.6em;
        }
    }
}

div.scaffold.controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    div.left {
        flex: 1 1 45%;
        align-items: center;

        form {
            margin-bottom: 0;
        }
    }
    div.right {
        flex: 1 1 auto;
        justify-content: flex-end;
        align-items: center;
    }
}
