div.w.list.collection,
div.w.list.attributes {
    border: 2px #f5f5f5 solid;
    border-radius: 0.5em;

    tr {
        &.even {
            background: #fff;
        }
        &.odd {
            background: #fbfbfb;

            > th {
                background: #f0f0f0;
            }
        }

        > th {
            border-bottom: 2px #eee solid;
            background: #f8f8f8;
        }

        &.spacer,
        &.divider {
            border-top: 2px #eee solid;
            border-bottom: 1px #eee solid;
        }

        &.divider {
            background: #fbfbfb;

            &:first-child {
                border-top: none;
            }
        }
    }
}

div.w.list.collection {
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0.9em;

    tr {
        &.even:hover {
            background: darken(#fff, 4%);
        }
        &.odd:hover {
            background: darken(#fbfbfb, 2%);
        }
    }

    td {
        white-space: nowrap;
        padding-top: 0.3em;
        padding-bottom: 0.3em;

        span.list {
            display: inline-block;
            white-space: normal;
            min-width: 10rem;
        }
    }
}

div.w.list.attributes tr:last-child th {
    border-bottom: none;
}
