includes:
    - ./vendor/df-r7/base/phpstan.extension.neon
parameters:
    bootstrap: %currentWorkingDirectory%/tests/bootstrap.php
    paths:
        - directory
        - helpers
        - hooks
        - libraries
        - models
