$positiveColor: darkgreen !default;
$negativeColor: darkred !default;
$informativeColor: #2D6672 !default;
$operativeColor: #8F7310 !default;
$transitiveColor: #6F5177 !default;

$errorColor: red !default;
$successColor: green !default;
$warningColor: #8F7310 !default;
$debugColor: #7B8034 !default;

$disabledColor: #777 !default;

$linkStates: true !default;

$labelWidth: 16em !default;
$labelAlign: right !default;

$cellInset: true !default;

$iconFont: Icomoon !default;