fieldset.scaffold.search,
fieldset.scaffold.with-selected {
    padding: 0.25rem;

    > .body {
        padding: 0.25rem;

        nav.menu {
            margin-bottom: 0;
        }
    }
}

form + fieldset.scaffold.with-selected {
    margin-top: -1rem;
}
fieldset.scaffold.with-selected > div.body {
    display: flex;
    align-items: center;

    > div.label {
        font-size: 0.7em;
        color: #999;
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 1rem;
    }

    nav.menu {
        padding: 0;
    }
}

fieldset.scaffold.search {
    > div.body {
        display: flex;
        align-items: stretch;
    }

    button {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 0.8em;
    }

    a {
        align-self: center;
        margin-left: 1rem;
        font-size: 0.8em;
    }
}
