@charset "UTF-8";

@import "_variables.scss";
@import "theme://sass/shared/all.scss";


h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    font-weight: normal;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
    margin: 1em 0 0.2em;
}

article + article {
    margin-top: 1em;
}



html {
    min-width: 580px;
}

body {
    background: #EEE;

    &[data-location^="~admin/"] {
        background: #E7DDD6;
    }

    &[data-location^="~front/"] {
        background: #E4E7D8;
    }

    &[data-location^="~devtools/"] {
        background: #CBE3E7;
    }

    &[data-location^="~mail/"] {
        background: #E4E4C9;
    }

    &[data-location^="~ui/"] {
        background: #E4C8E6;
    }

    &[data-layout="Blank"] {
        background: #FFF !important;
    }
}


header h1 {
    font-size: 3em;
    margin: 0 0 0.2em;
    font-weight: normal;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    background: #FAFAFA;
    font-size: 1.5em;
    padding: 0.2em 0.3em;
    border-radius: 0.3em;
}



a:link,
a:visited {
    color: #575757;
    text-decoration: none;
}

a:hover,
a:active {
    color: #737373;
    text-decoration: underline;
}



em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

dl {
    @extend %clearfix;

    dt {
        font-weight: bold;
    }

    dd {
        margin-bottom: 0.5rem;
    }
}

.w-definitionList {
    dt {
        width: 10em;
        float: left;
        clear: left;
    }

    dt:after {
        content: ':';
    }

    dd {
        float: left;
        margin-bottom: 0;
    }
}

th {
    font-weight: bold;
    text-align: left;
}

th a {
    text-decoration: none;
}


code, pre {
    font-family: "Courier New", Courier, Monospace;
    font-size: 0.9em;
    white-space: pre-wrap;
}

section {
    margin-bottom: 1em;
}






// Layout
div.layout-pageArea {
    margin: 2em;
    background: #FFF;
    min-height: 500px;
    padding: 1em;
    border-radius: 0.6em;

    .layout-header {
        @extend %clearfix;
        margin-bottom: 1em;
    }

    .layout-contentArea {
        @extend %clearfix;
        min-height: 50vh;
    }

    > header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        > h1 {
            float: left;
        }

        nav.user {
            margin-left: auto;
            float: right;
        }

        .w-breadcrumbList {
            clear: both;
            flex-shrink: 0;
            width: 100%;
            box-sizing: border-box;
        }
    }

    > footer {
        margin: 2.5em 0 0;

        > .w-menuBar {
            margin-bottom: 0;
        }
    }
}



// Breadcrumbs
.w-breadcrumbList {
    padding: 0.4em;
    border-radius: 8px;
    background: #F4F4F4;
}


// Container
.w-container {
    border: 3px #F5F5F5 solid;
    border-radius: 0.5em;
    padding: 0.7em;
}

.w-container + .w-container {
    margin-top: 0.7em;
}



// Forms
.w-fieldSet {
    > div.body {
        background: #FFF;
        padding: 1em;

        > label {
            display: block;
        }
    }

    + .w-buttonArea {
        &:before {
            margin-right: 1em;
        }
    }
}

.w-overlay .w-inputArea > .w-collectionList {
    width: 100%;
}

.w-fieldSet,
.w-buttonArea {
    background: #F4F4F4;
    border-radius: 0.5em;
    border: none;

    &.stacked {
        padding-left: 1em !important;
    }
}

.w-buttonArea {
    padding: 1em;

    h3 {
        margin: 0;
    }
}

.w-fieldSet > .body > .w-field.stacked:first-child {
    margin-top: 0;
}

.w-field {
    background: #FFF;

    > .w-labelArea label {
        color: #333;
        font-size: 0.95em;
    }

    > .w-inputArea {
        > .w-buttonArea {
            background-color: #FAFAFA;
        }

        > .w-field,
        > .fire-block > .w-field {
            border: 1px #EEE solid;
            border-radius: 4px;
        }
    }

    + .w-buttonArea:before {
        margin-left: -1em;
    }
}


.fire-block {
    background: #EBE5E0;
    border-radius: 4px;

    .fire-block {
        background: #D8EBDF;

        .fire-block {
            background: #EBEBD0;

            .fire-block {
                background: #E4E0EB;

                .fire-block {
                    background: #EBE0E3;
                }
            }
        }
    }
}

.w-selection {
    > .body {
        background: #FAFAFA;
        border-radius: 6px;
    }
}

.w-radioButtonLabel,
.w-checkboxLabel {
    font-size: 0.9em;
}

.w-radioButtonGroup,
.w-checkboxGroup,
.w-checkboxList {
    border: 2px solid #DDD;
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.5rem rgba(black, 0.1) inset;

    &.inline {
        border: none;
        padding: 0 0.05rem;
        box-shadow: none;
    }
}


.w-textbox,
.w-textarea,
.w-htmlEditor {
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px 1px rgba(#555, 0.1);
}

input, select, textarea {
    font-size: 0.8em;
}

button {
    font-size: 0.9em;
    color: #777;
}





// Lists
.w-collectionList,
.w-attributeList {
    border: 2px #F5F5F5 solid;
    border-radius: 0.5em;

    tr {
        &.even {
            background: #FFF;
        }
        &.odd {
            background: #FBFBFB;

            > th {
                background: #F0F0F0;
            }
        }

        > th {
            border-bottom: 2px #EEE solid;
            background: #F8F8F8;
        }

        &.spacer, &.divider {
            border-top: 2px #EEE solid;
            border-bottom: 1px #EEE solid;
        }

        &.divider {
            background: #FBFBFB;

            &:first-child {
                border-top: none;
            }
        }
    }
}

.w-collectionList tr {
    &.even:hover {
        background: darken(#FFF, 4%);
    }
    &.odd:hover {
        background: darken(#FBFBFB, 2%);
    }
}

.w-attributeList tr:last-child th {
    border-bottom: none;
}



.w-paginator {
    font-size: 0.9em;

    .block-details {
        border: 2px #EEE solid;
        border-radius: 6px;
        padding: 0.05em 0.4em;
    }

    .block-links {
        a {
            border: 2px #EEE solid;
            border-radius: 4px;
            margin: 0 0.15em;

            &.link-selected {
                border-color: #AAA;
            }
        }
    }
}



.w-articleList {
    article {
        > .w-articleList {
            background: #EEE;
            background: rgba(0,0,0,0.015);
            border-radius: 0.6em;
        }

        > header {
            background: #F4F4F4;
            background: rgba(0,0,0,0.04);
            border-radius: 0.5em;

            h3 {
                font-size: 1em;
            }

            p {
                font-size: 0.7em;
                color: #888;
            }
        }

        > footer {
            border-top: 1px #F4F4F4 solid;
        }
    }

    > li:last-child > article {
        margin-bottom: 0;
    }
}




.w-menu,
.w-menuBar {
    border: 4px #F4F4F4 solid;
    border-radius: 8px;
}

.w-menu {
    padding: 0.5em;
}

.w-menuBar {
    + h2 {
        margin-top: -0.5em;
        border: 4px #F4F4F4 solid;
        margin-bottom: 1em;
        padding: 0.1em 0.3em;
        border-radius: 8px;
        font-size: 1.5em;
    }
}



.w-headerBar {
    border: 4px #F4F4F4 solid;
    padding: 0.3em;
    border-radius: 0.7em;
    margin-bottom: 1.2em;
    font-size: 0.9em;

    > h2 {
        padding: 0.3em 0.4em;
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        margin: 0;
        font-size: 1.4em;
        /*font-style: italic;*/
        background: #E0E0E0;
        color: #666;
        text-shadow: 0 0 0.5em #FFF;
        font-weight: normal;
    }

    > h3 {
        margin: 0;
        font-size: 1.1em;
        padding: 0 0 0 2em;
        font-style: italic;
        color: #666;
        background: none;
    }

    .w-menuBar.primary {
        margin: 0;
        border-radius: 0;
        border: none;

        ul {
            padding: 0.25em 0;
        }

        &:first-child {
            border-top: none;
            margin-top: 0;
            background: #FCFCFC;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        + .w-selectorArea {
            margin-top: -2.3em;
        }
    }

    > .w-menuBar.secondary {
        margin: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: none;
        border-top: 3px #F4F4F4 solid;
        background: #FAFAFA;
        padding: 0.5em 0.4em 0.3em 2em;
    }

    > .w-selectorArea {
        right: 5em;
        position: absolute;
        margin-top: -2.2em;

        form {
            margin-bottom: 0;
        }

        .w-field {
            background: none;
        }
    }

}



.w-link,
.w-blockLink {
    text-decoration: none;

    &:link, &:visited {
        text-decoration: none;
    }

    &:hover, &:active {
        text-decoration: underline;
    }
}

.w-link {
    > sup {
        margin-left: 0.2em;
    }

    + .w-link.hasIcon {
        margin-left: 0.75em;
    }
}


.w-blockLink {
    border: 4px #F8F8F8 solid;
    border-radius: 6px;
}

.w-flashMessage {
    border-radius: 8px;
}

.w-flashList .w-flashMessage {
    font-size: 0.8em;
}




progress {
    background-color: #f3f3f3;
    border: 0;
    width: 6em;
    height: 0.6em;
    border-radius: 9px;
    margin: 0 0.5em 0.25em 0;

    &::-webkit-progress-bar {
        background-color: #f3f3f3;
        border-radius: 9px;
    }

    &::-webkit-progress-value {
        background: #cdeb8e;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
        background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
        background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
        border-radius: 9px;
    }

    &::-moz-progress-bar {
        background: #cdeb8e;
        background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
        background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
        border-radius: 9px;
    }
}
