$default-active-colors: (
    primary: #3055a8,
    secondary: #d49419,

    positive: #3b8b3c,
    negative: #a11d1d,
    informative: #2d6672,
    operative: #8f7310,
    transitive: #6f5177,
    external: #6b5e6e,

    error: darken(red, 8%),
    warning: #8f7310,
    debug: #7b8034,
);

$active-colors: () !default;
$active-colors: map-merge($default-active-colors, $active-colors);

$primary-color: map-get($active-colors, primary) !default;
$secondary-color: map-get($active-colors, secondary) !default;

$positive-color: map-get($active-colors, positive) !default;
$negative-color: map-get($active-colors, negative) !default;
$informative-color: map-get($active-colors, informative) !default;
$operative-color: map-get($active-colors, operative) !default;
$transitive-color: map-get($active-colors, transitive) !default;
$external-color: map-get($active-colors, external) !default;

$error-color: map-get($active-colors, error) !default;
$warning-color: map-get($active-colors, warning) !default;
$debug-color: map-get($active-colors, debug) !default;

$disabled-color: #777 !default;
$base-text-color: #444 !default;

@include exports("global/_colors") {
    html {
        color: $base-text-color;
    }
}
