$consolas: Consolas, "Andale Mono WT", "Andale Mono", "Courier New", Courier, monospace;
$helvetica: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-base-size: 15px !default;
$font-min-size: 10px !default;
$font-base-family: $helvetica !default;
$font-line-height: 1.4 !default;
$font-base-weight: normal !default;
$font-antialias: true !default;

$font-scale: false !default;
$font-scale-threshold: 3000px !default;
$font-scale-region: 300px !default;
$font-scale-crossover: null !default;

@if global-variable-exists(page-max-width) {
    $font-scale-crossover: $page-max-width !default;
} @else {
    $font-scale-crossover: 1080px !default;
}

// FONT SCALING
@mixin applyRelativeFontSizing($maxWidth: $font-scale-threshold) {
    $divisions: calc(($font-base-size / 1px) - ($font-min-size / 1px));

    @if $font-scale-crossover != false {
        $expDivisions: floor(math.div(($maxWidth - $font-scale-crossover) / $font-scale-region));

        html {
            font-size: $font-base-size + $expDivisions - 1;
        }

        @for $i from 1 through ($expDivisions - 1) {
            @media only screen and (max-width: #{$maxWidth - ($i * $font-scale-region)}) {
                html {
                    font-size: #{$font-base-size + ($expDivisions - ($i + 1))};
                }
            }
        }

        $divisionWidth: calc(($font-scale-crossover - 600px) / $divisions);

        @for $i from 1 through $divisions {
            @media only screen and (max-width: #{$font-scale-crossover - (($i - 1) * $divisionWidth)}) {
                html {
                    font-size: #{$font-base-size - $i};
                }
            }
        }
    } @else {
        $divisionWidth: ($maxWidth - 600px / $divisions);

        @for $i from 1 through $divisions {
            @media only screen and (max-width: #{$maxWidth - ($i * $divisionWidth)}) {
                html {
                    font-size: #{$font-base-size - $i};
                }
            }
        }
    }
}

@include exports("global/_fonts") {
    html {
        font-size: $font-base-size;
        font-weight: $font-base-weight;
        font-family: $font-base-family;
        line-height: $font-line-height;

        @if $font-antialias == true {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

    @if $font-scale == true {
        @include applyRelativeFontSizing();
    }
}
