$form-label-width: 16rem !default;
$form-label-align: right !default;
$form-input-width: 30rem !default;
$form-float-threshold: 55em !default;
$error-color: darken(red, 8%) !default;

//@include exports("global/_fonts") {

//}
