$form-label-width: 16rem !default !global;
$form-label-align: right !default !global;
$form-input-width: 30rem !default !global;
$form-float-threshold: 55em !default !global;
$error-color: darken(red, 8%) !default !global;

//@include exports("global/_fonts") {

//}
