@import "_clearfix.scss";

@if global-variable-exists(font-base-size) {
    $pxToRem-base-size: $font-base-size !global;
} @else {
    $pxToRem-base-size: 16px !global;
}

@function pxToRem($px, $base: $pxToRem-base-size) {
    @return #{($px + 0px) / $pxToRem-base-size}rem;
}

%stretch-behind {
    @extend %clearfix;

    position: relative;
    margin: 0 auto;

    @if global-variable-exists(page-max-width) and ($page-max-width != null) {
        @if global-variable-exists(font-scale) and ($font-scale == true) {
            max-width: pxToRem($page-max-width);
        } @else {
            max-width: $page-max-width;
        }
    }

    z-index: 2;
    box-sizing: border-box;

    &:before {
        content: "";
        width: 500%;
        height: 100%;
        position: absolute;
        left: -200%;
        right: 0;
        top: 0;
        margin: 0 auto;
        z-index: -1;
        background: inherit;
    }
}

[dir="rtl"] %stretch-behind {
    &:before {
        left: 0;
        right: -200%;
    }
}

@mixin stretch-behind($background: false) {
    @extend %stretch-behind;

    @if $background != false {
        background: $background;

        &:before {
            background: $background;
        }
    }
}
