// List
div.w.list.card {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    article.w.card {
        flex: 1 1 17rem;
        margin: 1rem;
    }
}


div.w.card {
    min-width: 10rem;
    margin-bottom: 1rem;

    // Avatar cards - DELETE??
    &.avatar {
        text-align: center;
        border: 4px solid #999;
        border-radius: 0.4rem;
        padding: 0.5rem;

        &.active {
            border-color: #FEFFBA;
        }

        input {
            display: block;
        }

        button {
            margin: 1em auto 0;
        }
    }
}
