span.numeric, span.number {
    //font-family: $monospace;

    .unit {
        opacity: 0.65;

        &:first-child {
            margin-right: 0.1em;
        }

        &:last-child {
            margin-left: 0.1em;
        }
    }


    &.currency {
        .unit {
            opacity: 0.75;

            &:first-child {
                margin-right: 0.35em;
            }

            &.code:first-child {
                margin-right: 0.55em;
            }

            &:last-child {
                margin-left: 0.35em;
            }

            &.code:last-child {
                margin-left: 0.55em;
            }
        }
    }

    &.percent {
        .unit {
            font-size: 0.8em;
            position: relative;
        }
    }
}
