div.w.list.panels {
    //width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
    margin: 0 -0.5rem;

    > article.w.panel {
        margin: 0;
        padding: 0.5rem;
        box-sizing: border-box;
        flex: 1 1 auto;
        min-width: 25rem;

        div.w.list.attributes {
            display: block;
            width: 100%;
            min-width: 20em;
        }
    }
}
