div.w.list.collection,
div.w.list.attributes {
    margin-bottom: 1rem;

    table {
        width: 100%;
    }

    tr.spacer td {
        height: 1rem;
    }

    td {
        :last-child {
            margin-bottom: 0;
        }

        > ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
        }
    }

    tr.divider {
        td {
            font-size: 1.4rem;
            line-height: 2.2rem;
        }
    }
}

div.w.list.attributes {
    min-width: 40rem;
    max-width: 65rem;

    td, th {
        padding: 0.25rem 0.5rem;
    }

    th {
        width: 40%;
        min-width: 10rem;
        text-align: left;
        vertical-align: top;

        &:after {
            content: ':';
        }
    }
}

.w.paginator + div.w.list.collection {
    margin: 0.7rem 0;
}





div.w.list.collection {
    tr {
        position: relative;
    }
    td, th {
        padding: 0.1rem 0.3rem;
        height: 2rem;
        vertical-align: middle;
    }

    td {
        width: 20%;
        max-width: 25rem;
        text-overflow: ellipsis;
        overflow-x: hidden;

        &:hover {
            overflow-x: visible;
            z-index: 100;
            position: relative;
            white-space: normal;
        }

        &.field-select {
            width: 1%;
        }

        &.field-relevance {
            width: 1%;
            padding-right: 1rem;
        }

        &.field-actions {
            white-space: nowrap;
            vertical-align: middle;
            width: 1%;

            a.w, button.w.btn.event {
                margin: 0 0.15rem;
                font-size: 1.2rem;
                width: 1.2rem !important;
                overflow: hidden;
                visibility: hidden;
                padding: 0;
                line-height: 1;
                display: inline-block;
                border: none;
                vertical-align: middle;

                &:first-child {
                    margin-left: 0;
                }

                span[data-icon] {
                    margin: 0;
                    padding: 0;
                    visibility: visible;
                    line-height: 1;

                    &:before {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

div.w.list.inputs > div.w.list.collection {
    display: inline-block;

    td {
        padding-right: 2rem;
    }
}
